body{
    font-family: 'Roboto', sans-serif;
    margin: 0em;
    padding: 0em;
}
.top{
    position: absolute;
    width: 120em;
    height: 6.25em;
    border-bottom: 0.0625em solid #D0D0D0;
}
.top-list1{
    position: absolute;
    top: 1em;
    left: 8.34em;
    width: 8.1875em;
    height: 4.5em;
}
img{
    width: 8.1875em;
    height: 4.5em;
}
.dash{
    position: absolute;
    top: 1.9375em;
    left: 21.5em;
    width: 0.0625em;
    height: 2.5em;
    background: #E2E2E2;
}
.top-list2{
    position: absolute;
    top: 1.75em;
    left: 23.25em;
    width: 3.5833em;
    height: 1.25em;
    align-items: center;
}
.UA{
    width: 3.5833em;
    height: 1.3125em;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.3125em;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 0.125em;
}
.top-listRU{
    align-items: center;
    width: 2.1875em;
    height: 1.25em;
    border-radius: 0.125em;
    background: #4AD295;
}
.RU{
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3125em;
    text-align: center;
    color: #FFFFFF;
    
}
.dash2{
    position: absolute;
    top: 1.9375em;
    left: 28.25em;
    width: 0.0625em;
    height: 2.5em;
    background: #E2E2E2;
}
.top-list3{
    position: absolute;
    top: 1.9375em;
    left: 30.4166em;
    width: 6.25em;
    height: 1.1875em;
}
.cost{
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.1875em;
    margin-bottom: 0.25em;
    color: #393939;
}
.dash3{
    position: absolute;
    top: 1.9375em;
    left: 38.75em;
    width: 0.0625em;
    height: 2.5em;
    background: #E2E2E2;
}
.fa-facebook-f{
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    left: 40.9166em;
    top: 2.625em;

    
    opacity: 0.5;
}
.fa-instagram{
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    left: 43.4166em;
    top: 2.625em;
    opacity: 0.5;
}
.fa-youtube{
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    left: 46.33em;
    top: 2.625em;
    
    opacity: 0.5;
}